<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/layout}">
<head>
<script>
	$(function() {
		$('.ui.form').form({
			fields : {
				sentence : {
					identifier : 'sentence',
					rules : [ {
						type : 'empty',
						prompt : '文章を入力してください。'
					} ]
				}
			}
		});
		$('.ui.checkbox').checkbox();
	});
</script>
</head>
<body>
	<div layout:fragment="contents">
		<div class="ui middle aligned center aligned grid">
			<div class="column">
				<h2 class="ui teal image header" th:text="${title}"></h2>
				<form class="ui large form" role="form" th:action="@{/analyze}"
					th:object="${userRequest}" method="post">
					<div class="ui stacked segment">
						<div class="field">
							<textarea placeholder="分析したいテキストを入力してください。"
								th:field="*{sentence}">></textarea>
						</div><div class="ui bottom attached label">感情分析には <a href="https://api.ce-cotoha.com/contents/index.html" rel=”nofollow”>COTOHA API</a> を利用しています。</div>

<!--
						<div class="inline field">
							<div class="ui checkbox">
								<input type="checkbox" class="hidden"> <label>Google</label>
							</div>
							<div class="ui checkbox">
								<input type="checkbox" class="hidden"> <label>Amazon</label>
							</div>
							<div class="ui checkbox">
								<input type="checkbox" class="hidden"> <label>Azure</label>
							</div>
							<div class="ui checkbox">
								<input type="checkbox" class="hidden"> <label>Yahoo</label>
							</div>
						</div>
 -->
					</div>
					<div class="ui fluid large teal submit button">分析する</div>


					<div class="ui error message"></div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>